.banner {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-image: url(../images/banner.jpg);
  background-size: cover;
}

.content {
  position: relative;
  width: 100%;
  margin-top: 100vh;
  background-color: white;
  box-shadow: 0 0 40px 5px black;
  z-index: 1;
}

.bannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  width: fit-content;
}

.nameText {
  font-size: 1.5em;
  background-color: #ff9901;
  padding: 5px 15px;
}

.iconContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 0px 20px 10px 0;
}

.iconDiv {
  border-radius: 50%;
  border: 1px solid white;
  padding: 11px 12px 8px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.iconDiv:hover{
  background-color: #ff9901;
  border-color: #ff9901;
  box-shadow: 0 0 15px -7px black;
}

@media screen and (max-width: 576px) {
  .bannerText{
    font-size: 1.5rem;
  }
  .iconContainer{
    display: flex;
  }
  .iconDiv{
    padding: 9px 9px 5px;
    margin-left: 10px;
  }
}